# Core AI/ML Framework
torch==2.5.0
torchaudio==2.5.0
torchvision==0.20.0


# Diarization & Speaker Verification
# Using a specific version of pyannote.audio for stability.
# This will pull pyannote.core, pyannote.pipeline, etc. as dependencies.
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
modelscope[audio]
# Explicitly add dependencies that caused issues before
addict
datasets
einops
scikit-learn
# ASR Models
# openai-whisper
# google-generativeai
funasr==1.2.4
aiohttp==3.9.2
faster-whisper==1.1.0
whisperx==3.3.0
jiwer==4.0.0
# Audio-quality metrics
./third_party/brouhaha-vad-main.zip

# Audio Processing & File Handling
librosa
pydub
soundfile
pandas
openpyxl

# MFA & ASR Validation
# jiwer
# praatio

# Utilities
tqdm
pyyaml
filelock

silero-vad
mutagen
ray==2.48.0
